@page "/"

@inherits FluxorComponent

<Banner />

<div class="page-wrap">
    @foreach (var post in BlogsState.Value.Posts)
    {
        <Post Author=@post.Author
          Description=@post.Description
          Title=@post.Title
          Url=@post.Url />
    }
</div>