<div class="box">
    <div class="panel">
        <div class="title">
            <h1>@Title</h1>
            <h2>By @Author</h2>
        </div>
        <div class="content">
            <p>@Description</p>
            <div class="button"><a href="@Url">More</a></div>
        </div>
    </div>
</div>