.page {
    width: 90%;
    overflow: hidden;
}

.panel {
    overflow: hidden;
    background: url(../images/bg3.jpg);
    padding: 30px;
}

.page .content p {
    padding-bottom: 20px;
    font-size: 18px;
}
