@page "/about"

<Title Content="About" />

<div class="page">
    <div class="panel">
        <div class="content">
            <p>The .NET Info is a project inspired by https://discoverdot.net/</p>
            <p>It shows blog</p>
        </div>
    </div>
</div>