@page "/blogs"

<Title Content="Blogs" />

<div class="page-wrap">
    @foreach (var blog in BlogsState.Value.Blogs)
    {
        <Blog Author=@blog.Author Url=@blog.Url Title=@blog.Title />
    }
</div>