.box {
    margin-bottom: 60px;
}

.wrap {
    overflow: hidden;
}

.panel {
    overflow: hidden;
    background: url(../images/bg3.jpg);
    padding: 30px;
    height: 100%;
}

.title {
    margin-bottom: 20px;
    margin-top: 15px;
}

.content p {
    padding-bottom: 10px;
}
