.box {
    margin-bottom: 30px;
    float: left;
    margin-right: 30px;
    width: 30%;
}

.wrap {
    overflow: hidden;
}

.panel {
    overflow: hidden;
    background: url(../images/bg3.jpg);
    padding: 30px;
}

.title {
    margin-bottom: 20px;
    margin-top: 15px;
}

.content p {
    padding-bottom: 10px;
}
