<li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
    <div>
        <span class="image-block"> <a class="image-zoom" href="images/big/pic1.jpg" rel="prettyPhoto[gallery]" title="Praesent placerat"><img width="190" height="130" src="images/thumbs/p1.jpg" alt="Praesent placerat" title="Praesent placerat"> </a> </span>
        <div class="home-portfolio-text">
            <h4 class="post-title-portfolio"><a href="#" rel="bookmark" title="Praesent placerat">Praesent placerat</a></h4>
        </div>
    </div>
</li>