.copyright-wrap {
    overflow: hidden;
    background: url(../images/bg5.jpg);
}

.copyright {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

    .copyright .content p {
        color: #b94d32;
        font-size: 17px;
    }

        .copyright .content p a.link {
            text-decoration: none;
            color: #b94d32;
        }

.content p {
    padding-bottom: 10px;
}
