@inherits FluxorComponent

<div class="header-wrap">
    @if (DomState.Value.IsLoading)
    {
        <Loader />
    }

    <div class="logo">
        <h1>The .NET Info</h1>
    </div>
    <div class="menu-container">
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>