<div class="copyright-wrap">
    <div class="copyright">
        <div class="content">
            <p>
                © 2012 All Rights Reserved  | <a href="#" class="link">Privacy Policy</a>&nbsp;&nbsp;
                Designed by :<a href="www.alltemplateneeds.com."> www.alltemplateneeds.com.</a>&nbsp;&nbsp;
                Images From:<a href="www.photorack.net" class="link"> www.photorack.net</a>
            </p>
        </div>
    </div>
</div>