<div class="copyright-wrap">
    <div class="copyright">
        <div class="content">
            <p>© 2021 All Rights Reserved </p>
            <p>Designed by: <a href="www.alltemplateneeds.com."> www.alltemplateneeds.com.</a></p>
            <p>Developed by: <a href="https://github.com/hasan-hasanov">Hasan Hasanov</a></p>
            <p>Images From: <a href="www.photorack.net">www.photorack.net</a></p>
        </div>
    </div>
</div>