<div class="copyright-wrap">
    <div class="copyright">
        <div class="content">
            <p>
                © 2021 All Rights Reserved | Designed by: <a href="www.alltemplateneeds.com."> www.alltemplateneeds.com.</a> | Developed by: <a href="https://github.com/hasan-hasanov">Hasan Hasanov</a> | Images From: <a href="www.photorack.net">www.photorack.net</a>
            </p>
        </div>
    </div>
</div>