<div class="header-wrap">
    <div class="logo">
        <h1>The .NET Info</h1>
    </div>
    <div class="menu-container">
        <ul id="menu">
            <li><a href="aboutus.php">AboutUs</a></li>
            <li><a href="itcourses.php">ITCourses</a></li>
            <li><a href="certification.html">Certifications</a></li>
            <li><a href="itproject.html">Projects</a></li>
        </ul>
    </div>
</div>