.banner-wrap {
    background: url(../images/bg2.jpg);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

.banner {
    width: 960px;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .banner-wrap {
        display: none;
    }
}
