@page "/"

@inherits FluxorComponent

<Banner />

<div class="page-wrap">
    @foreach (var post in BlogsState.Value.Posts)
    {
        <Post Author=@post.Author
          Published=@post.Published
          Title=@post.Title
          Url=@post.Link />
    }
</div>