<div class="box">
    <div class="panel">
        <div class="title">
            <h1>@Title</h1>
            <h2>By @Author</h2>
        </div>
        <div class="content">
            <p>Published: @Published.ToString("F")</p>
            <div class="button"><a href="@Url" target="_blank">More</a></div>
        </div>
    </div>
</div>