* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rokkitt', serif;
    font-size: 17px;
    background: #e7e2cf;
    color: #858175;
}

img {
    border: none;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 24px;
    color: #446396;
    font-weight: normal;
}

h2 {
    font-family: 'Rokkitt', serif;
    font-size: 21px;
    color: #d65a3d;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #385074;
}

    a:hover {
        color: #b34a30;
    }

.clear {
    clear: both;
}

.floatLeft {
    float: left;
}

.marRight40 {
    margin-right: 40px;
}

.marRight30 {
    margin-right: 30px;
}

.marTop {
    margin-top: 30px;
}

.bg-bottom-none {
    background: none bottom !important;
}

.page-wrap {
    overflow: hidden;
    margin: 0 auto;
}

.page {
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}

.wrap {
    overflow: hidden;
}

.button {
    background: url(../images/button.png) no-repeat;
    width: 80px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
}

    .button:hover {
        background: url(../images/button-hover.png) no-repeat;
    }

    .button a {
        line-height: 30px;
        color: #ffffff;
        text-decoration: none;
    }

        .button a:hover {
            color: #ffffff;
        }
